<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Acortador URL
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


</head>
<body>
    <nav style="background: orangered" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/" style="color:white;"><strong>ACORTADOR DE URLS</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav ml-auto">
                <li class="nav-item active">
                    <b><a class="nav-link"  href="/usuario/iniciarSesion">Iniciar Sesion</a></b>
                </li>
                <li class="nav-item active">
                    <b><a class="nav-link"  href="/usuario/registrarse">Registrarse</a></b>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>


    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

        <div class="row justify-content-center">

                <form action="/usuario/iniciarSesion" method="post">
                    <div class="card" >
                        <div class="card-header">
                            <h5 class="h5"><strong>Iniciar Sesion</strong></h5>
                        </div>

                        <hr>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nombreUsuario">Nombre de usuario</label>
                                  <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Ingrese su usuario" required>
                                </div>
                            <div class="form-group">
                                <label for="password">Contrase&ntilde;a</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su Contrase&ntilde;a">
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="recordar" class="form-check-input" type="checkbox">
                                    <span class="form-check-sign"></span>
                                    Recuerdame
                                </label>
                            </div>
                        </div>

                        <div class="card-footer" align="right">
                            <div class="row" align="center">
                                <div class="col-12" >
                                    <button name="btnLogin" type="submit"  class="btn btn-primary">Iniciar sesion</button>
                                    <button onclick="location.href = '/usuario/registrarse'" name="btnRegistro" type="button"  class="btn btn-primary">Registrarse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


        </div>

        <form id="registro" method="get" action="/usuario/registrar"></form>




    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <!--<script src="../assets/demo/demo.js"></script>-->
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>
</body>
</html>